.container {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: #eee;
    background: linear-gradient(110deg, #c8d0d7 8%, #e1e1e1 18%, #c8d0d7 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}
